#connect{
  background-color: #FFF8F3;
  max-width: 95%;
  margin: 0 auto;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
  margin-bottom: 130px;
}

.connect-container{
  display: flex;
  justify-content: space-between;
  padding: 130px 0;
}

.social-media{
  max-width: 562px;
}

.social-logo{
  display: flex;
  gap: 31px;
}

.messaging form input, textarea{
  display: block;
}

.messaging form input[type="text"], input[type="email"], textarea {
  padding: 18px 200px 18px 30px;
  border-radius: 5px;
  margin-bottom: 24px;
  border: none;
  resize: none;
  
}

