#resume{
  margin-bottom: 113px;
}

#resume h3{
  text-align: center;
  margin-bottom: 113px;
}

.resume-content{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.education h4, .experience h4 {
  font-size: 30px;
  color: #474747;
}

.resume-card{
  max-width: 470px;
}

.resume-card h5{
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
}

.resume-card h6{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

#resume hr{
  margin: 30px 0;
}

#resume button{
  margin: 0 auto;
  margin-top: 50px;
}