#skills{
  margin-bottom: 130px;
}
.skills-headline{
  text-align: center;
  max-width: 827px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.skills-headline h3{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

.skills-headline p{
  font-size: 18px;
}

.skills-container{
  display: flex;
  gap: 20px;
}

.skill-card{
  box-shadow: 0 6px 50px 0 #d7d3d3;
  border-radius: 5px;
  padding: 30px;
  max-height: 400px;
}

.skill-card img{
  width: 44px;
  margin-bottom: 30px;
}

.skill-card h4{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.skill-card p{
  margin-bottom: 30px;
}